.card-container {
  border: 1px solid #bbb;
  border-radius: 8px;
  margin-bottom: 2rem;
  padding: 1.25rem 1.5rem;
  max-width: 550px;
  background: #fff;
  box-sizing: border-box;
}

.profile-img {
  border-radius: 50%;
  object-fit: cover;
  width: 70px;
  height: 70px;
  border: 1px solid #888;
  margin-right: 16px;
  margin-top: 2px;
}

